---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% if site.author.googlescholar %}
 
<h style="font-weight: bold;">Research Topics/Interests</h>
======

<span style=" text-align: justify;"> 
   <ul>
  <li> <strong>Systems Security in Decentraliased and Cloud/Edge Platforms</strong>
    <ul style=" text-align: justify;"> My research focuses on strengthening the security of decentralised and cloud/edge-based systems through anomaly detection that adapts to concept drift and adversarial behaviours. A key strand of this work extends to blockchain forensics, where anomaly detection techniques are applied to <span style="font-style: bold"> identify scams, fraud </span>, and other illicit activities embedded in transaction networks. By combining adaptive detection with system-level monitoring, my aim is to enhance trust and resilience in large-scale, dynamic infrastructures.</ul>
  </li>
  
  <li><strong>Distributed Systems Reliability and Performance</strong>
      <ul style=" text-align: justify;"> I investigate how distributed systems maintain reliability and scalability in the presence of faults and adversarial threats. My research focuses on (1) consensus protocols for blockchain and distributed environments that must balance security, throughput, and energy efficiency, while also enabling forensic visibility to support fraud and scam detection; and (2) fault-tolerance mechanisms for stream-processing frameworks that ensure consistent low-latency analytics under failures.</ul>
   </li>
  
  </ul>

  <div class="wordwrap">An up to date list of my publications is available on:
    <ul>
      <li> <a href="{{site.author.googlescholar}}">Google Scholar</a></li>
      <li> <a href="https://dblp.org/pid/231/1712.html">DBLP</a> </li>
    </ul>
  </div>

{% endif %}

{% include base_path %}

<br>
<h style="font-weight: bold;"> Selected Publications</h>
         <ul>
          <li><p><a href="https://link.springer.com/chapter/10.1007/978-981-96-0808-9_22"><i>A Query Language to Enhance Security and Privacy of 
              Blockchain as a Service (BaaS).</i></a>, ICSOC, 2024.
          </p></li>
          <li>
            <p><a href="https://ieeexplore.ieee.org/abstract/document/10598161"><i>A Predictive Profiling and Performance Modeling Approach for 
              Distributed Stream Processing in Edge.</i></a>, ICDE, 2024.
          </p></li>
          
          <li><p><a href="https://www.sciencedirect.com/science/article/abs/pii/S0743731524001862"> <i>ERT: Data Placement based on Estimated Response Time
              for P2P Storage Systems.</i></a>, JPDC, 2024.
          </p></li>

          <li><a href="https://ieeexplore.ieee.org/abstract/document/10184745"><i>RADAR: Reactive Concept Drift Management with Robust 
              Variational Inference for Evolving IoT Data Streams.</i></a> ICDE, 2023</p>
            </li>

          <li><p><a href="https://ieeexplore.ieee.org/abstract/document/9920227"><i>SAZyzz: Scaling AZyzzyva to meet blockchain requirements.</i></a>
               TSC, 2023.</p>
          
          <li><p>
            <a href="https://dl.acm.org/doi/abs/10.1145/3560816"><i>Blockchain-based federated learning for securing internet of things: 
              A comprehensive survey.</i></a> ACM Computing Surveys.</p>
          </li>   


         </ul>

<h style="font-weight: bold;"> Full Publications</h>
<ul>
<h style="font-weight: bold;">2025</h>
         <ul>
           <li><p> Wael Issa, Nour Moustafa, Benjamin Turnbull, <b>Nasrin Sohrabi</b>, Zahir Tari, Albert Y Zomaya "VIFL: vulnerability 
            identification using federated learning in the internet of things systems."<i>Journal of Computing 2025</i> 
            <a href="https://link.springer.com/article/10.1007/s00607-024-01365-z">[link] </a> </p></li>
         </ul>
<h style="font-weight: bold;">2024</h>
        <ul>
            <li> <p><b>Nasrin Sohrabi</b>, Norrathep Rattanavipanon, Zahir Tari "A query language to enhance security and privacy of 
              Blockchain as a Service (BaaS)."<i>ICSOC2024</i>
              <a href="https://link.springer.com/chapter/10.1007/978-981-96-0808-9_22">[link]</a>
            </p></li>
            <li> <p> Hasan Geren, <b>Nasrin Sohrabi</b>, Zahir Tari, Nour Moustafa "A Predictive Profiling and Performance Modeling Approach for 
              Distributed Stream Processing in Edge."<i>ICDE2024</i>
              <a href="https://ieeexplore.ieee.org/abstract/document/10598161">[link]</a>
            </p></li>
            
            <li> <p> Fitrio Pakana, <b>Nasrin Sohrabi</b>, Hai Dong, Zahir Tari, Nour Moustafa "ERT: Data Placement based on Estimated Response Time
               for P2P Storage Systems."<i>JPDC2024</i>
              <a href="https://www.sciencedirect.com/science/article/abs/pii/S0743731524001862">[link]</a>
            </p></li>

            <li> <p>J. Ahmed Abdella, Z. Tari, <b>Nasrin Sohrabi</b>, R. Mahmud. "MuLCOff: A multi-layer consensus and off-chain computation for 
            efficient and privacy-aware blockchain-based peer-to-peer energy trading." <i>IEEE Network.</i>
            <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=eEWRaCwAAAAJ&sortby=pubdate&citation_for_view=eEWRaCwAAAAJ:_xSYboBqXhAC">[link]</a></li>
            </p>
        </ul>
<h style="font-weight: bold;">2023</h>
        <ul>
            <li><p>Z. Tari <b>Nasrin Sohrabi</b>, Yasaman Samadi, Jakapan Suaboot. "Data Exfiltration Threats 
                and Prevention Techniques: Machine Learning and Memory-based Data Security." <i>Wiley Publisher.</i></p>
            </li>
            <li><p>V. Huang, G. Chen, X. Zuo, A. Y Zomaya, <b>Nasrin Sohrabi</b>, Z. Tari, Q. Fu. "Request dispatching over distributed SDN control plane: a multiagent approach."<i>IEEE Transactions on Cybernetics.</i></p>
            </li>
            <li><p>F. Pakana, <b>Nasrin Sohrabi</b>, C. Xu, Z. Tari, H. Dong. "RPDP: An Efficient Data Placement based on Residual Performance for P2P Storage Systems."<i>arXiv preprint arXiv:2304.08692.</i>
            <a href="https://arxiv.org/abs/2304.08692">[link]</a>
            </p>
            </li>
            <li><p>Q. Xiong, <b>Nasrin Sohrabi</b>, H. Dong, C. Xu, Z. Tari."AICons: An AI-Enabled Consensus Algorithm Driven by Energy Preservation and Fairness."<i>arXiv preprint arXiv:2304.08128</i>
            <a href="https://arxiv.org/abs/2304.08128">[link]</a></p>
            </li>
            <li><p>A. Alsaedi, <b> Nasrin Sohrabi </b>, R. Mahmud, Z. Tari. "RADAR: Reactive Concept Drift Management with Robust Variational Inference for Evolving IoT Data Streams."<i>2023 IEEE 39th International Conference on Data Engineering (ICDE)</i>
            <a href="https://ieeexplore.ieee.org/abstract/document/10184745">[link]</a></p>
            </li>
            <li><p>W. Issa, N. Moustafa, B. Turnbull, <b>Nasrin Sohrabi</b>, Z. Tari. "Blockchain-based federated learning for securing 
              internet of things: A comprehensive survey"<i>ACM Computing Surveys.</i>
            <a href="https://dl.acm.org/doi/abs/10.1145/3560816">[link]</a></p>
            </li>   
        </ul>
        <h style="font-weight: bold;">2022</h>
        <ul>    
            <li><p> <b>Nasrin Sohrabi</b>, N. Rattanavipanon, Z. Tari<i>arXiv preprint arXiv:2212.14141</i>
            <a href="https://arxiv.org/abs/2212.14141">[link]</a></p>
            </li>    
            <li><p>J. Abdella, Z. Tari, R. Mahmud, <b>Nasrin Sohrabi</b>, A. Anwar, A Mahmood. "Hicoob: Hierarchical concurrent optimistic blockchain consensus protocol for peer-to-peer energy trading systems"<i>IEEE Transactions on Smart Grid</i>
            <a href="https://ieeexplore.ieee.org/abstract/document/9996086">[link]</a></p>
            </li>
            <li><p> <b>Nasrin Sohrabi</b>, Z. Tari, G. Voron, V. Gramoli, Q. Fu. "SAZyzz: Scaling AZyzzyva to meet blockchain requirements."<i>IEEE Transactions on Services Computing</i>
            <a href="https://ieeexplore.ieee.org/abstract/document/9920227">[link]</a></p>
            </li>
            <li><p>A. Oseni, N. Moustafa, G. Creech, <b> Nasrin Sohrabi</b>, A. Strelzoff, Z. Tari, I. Linkov. "An explainable deep learning framework for 
                resilient intrusion detection in IoT-enabled transportation networks."
                <i>IEEE Transactions on Intelligent Transportation Systems</i>
            <a href="https://ieeexplore.ieee.org/abstract/document/9830113">[link]</a></p>
            </li> 
            <li><p>F. Al-Doghman, N. Moustafa, I. Khalil, <b>Nasrin Sohrabi</b>, Z. Tari, A. Y Zomaya. "AI-enabled secure microservices in edge computing: 
                Opportunities and challenges."<i>IEEE Transactions on Services Computing</i>
            <a href="https://ieeexplore.ieee.org/abstract/document/9723563">[link]</a></p>
            </li>
        </ul>           
        <h style="font-weight: bold;">2020</h>   
        <ul>
            <li> <p> <b>Nasrin Sohrabi</b>, Z. Tari. "ZyConChain: A Scalable Blockchain for General Applications." <i>IEEE Access.</i>
            <a href="https://ieeexplore.ieee.org/abstract/document/9180325">[link]</a></p>
            </li>  
            <li> <p> <b>Nasrin Sohrabi</b>, Z. Tari. "On the scalability of blockchain systems." <i>2020 IEEE International Conference on Cloud Engineering (IC2E).</i>
            <a href="https://ieeexplore.ieee.org/abstract/document/9096436">[link]</a></p>
            </li>
            <li> <p> <b>Nasrin Sohrabi</b>, X. Yi, Z. Tari, I. Khalil. "BACC: Blockchain-based access control for cloud data." <i>2020 IEEE International Conference on Cloud Engineering (IC2E).</i>
            <a href="https://dl.acm.org/doi/abs/10.1145/3373017.3373027">[link]</a></p>
            </li>
        </ul>
        <h style="font-weight: bold;">2018</h>  
        <ul>
            <li> <p>D. Alsadie, E. J Alzahrani, <b>Nasrin Sohrabi</b>, Z. Tari, A. Y Zomaya. 
                "DTFA: a dynamic threshold-based fuzzy approach for power-efficient VM consolidation." <i>2018 IEEE 17th International Symposium on Network Computing and Applications (NCA).</i></p></li>
        </ul>

  </ul>
       
               

    

