---
layout: archive
title: "RSCG"
permalink: /RSCG/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Welcome to Resilient and Scalable Computing Group (RSCG)</div>
  <ul>
  <div style=" text-align: justify">The Resilient and Scalable Computing Group (RSCG) is dedicated to designing secure, fault-tolerant, 
    and high-performance computing systems capable of withstanding cyber threats/attacks, operational failures, 
    and large-scale disruptions. Our research emphasizes system resiliency and reliability, focusing on areas like 
    security in distributed systems, fault tolerance in critical infrastructures, and the ability to handle 
    large-scale workloads with optimal performance. We also explore anomaly detection in IoT environments, 
    scalable consensus algorithms, and energy-efficient blockchain solutions that ensure both security and 
    sustainability. Collaborating with our colleagues across different university and industry partners, 
    we aim to develop innovative solutions to the most pressing challenges in cybersecurity, system resilience, 
    and large-scale computations. If you're interested in joining or collaborating, feel free to contact us!
</div> 
</ul>

<div>For more information about my research group please visit <a href=https://rscg-research.gitlab.io> RSCGroup website</a>
</a></div>
{% endif %}

{% include base_path %}
