---
layout: archive
title: "RSCG"
permalink: /RSCG/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Welcome to Resilient and Scalable Computing Group (RSCG)
  
  </div>
{% endif %}

{% include base_path %}

<br>
<h style="font-weight: bold;"> RSCG Focus Areas</h>
         <ul>
          <li><p style="font-weight: bold"> Resiliency and Reliability:</p>Designing systems to withstand cyber threats and operational failures.
          <li><p style="font-weight: bold"> Scalability and Performance:</p>Developing solutions for handling large-scale workloads with optimal performance.
          <li><p style="font-weight: bold"> Large-Scale Computations: </p> Enhancing the efficiency and reliability of systems in multi-cloud and edge environments. This also relates to specific areas, like energy, manufacturing, etc.
         </ul>

       
<h style="font-weight: bold;"> Current Member</h>
    <ul>
      <li>Prof. Zahir Tari</li>  
      <li> Qi Xiang</li>
      <li> Fitrio Pakana </li>
      <li> Brayden Kileen </li>
      <li> Minh Tran Trung </li>
      <li> Faisal Mehmood </li>
    </ul>

   <p> would like to join? Contact us </p>

<h style="font-weight: bold;"> Ongoing Projects</h>
   
<ul>
    <li>CRC-P Project  <div class="inner-div"; style=" text-align: justify;">
        <p> I am currently participating as a Chief Investigator (CI) in a Collaborative Research Centre Project (CRC-P) 
        focused on enhancing <span style="font-weight:bold">fraud detection </span> within digital payment systems, more specifically cryptocurreny transactions.
        The worldwide cryptocurrency (crypto) market is a rapidly growing form of digital exchange, 
        however, despite its significant size and growth, various security and operational challenges, particularly concerning the liquidity and safety of these currencies,
        hinder their widespread adoption and use.
        Our project aims to create develop a digital platform consisting of novel anti-fraud and anti-money laundering techniques, to align Crypto transactions with traditional payment options such as credit cards. 
        
        Two major lines of research conducted under this project is as follows:    
        <ul>
            <li>Cybersecurity Scam </li>
            <li>Cybersecuirty Fraud</li>
        </ul>
       </p>
    </div>
</li>          

<li>Systems Security
    <div class="inner-div"; style=" text-align: justify;">
     <p>System security has been always a challenging task. I am currently working on a project that aims to improve the security of IoT systems. 
      More specifically focusing on <span style="font-weight:bold"> anomaly detection </span>in IoT systems.
     <ul>
        <li> <a href="https://ieeexplore.ieee.org/abstract/document/10184745">Anomaly Detection in IoT Data Streams</a></li>    
     </ul> 
     </p>
    </div>
</li>

<li> Distributed Systems Scalabilities/Performance
<div class="inner-div"; style=" text-align: justify;">
   <p> This project aims to improve the scalability and performance of distributed systems. 
   It focuses on developing a new <span style="font-weight:bold">consensus algorithm</span> that can be used in distributed systems to improve their performance and scalability.
    <ul>
      <li> <a href="https://ieeexplore.ieee.org/abstract/document/9920227">Consensus Algorithm</a></li>
    </ul>  
   </p>
</div>        
</li>

<li>Green Blockchian
<br>
<div class="inner-div"; style=" text-align: justify;">
 <p>   
 This project aims to develop a green <span style="font-weight:bold">blockchain platform </span>that is energy-efficient and environmentally friendly. 

 <ul>
   <li><a href="https://arxiv.org/abs/2304.08128">Green Blockchain AI-Enabled Consensus</a></li>
   <li><a href="https://arxiv.org/abs/2304.08692"> Data Placement Model for Green Blockchain Storage</a></li>
</ul>
</p>
</div>
</li>
</ul>


            
<h style="font-weight: bold;"> Collaboration</h>
 
<ul>
  <li>RMIT University, Prof. Zahir Tari, Dr. Hai Dong</li>
  <li>University of Sydney, Prof Albert Zomaya </li>
  <li>Novatti Co</li>
</ul>


<h style="font-weight: bold;"> Contact info</h> 
 <p>Nasrin Sohrabi</p>

