---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h3>Current Courses</h3>
  <ul><p>
    <div class="inner-div">
        <li> Network Security [Master Degree - Deakin University]</li>
   
    </div>    
  </p></ul>
<h3>Past Courses</h3>
 <ul><p>
    <div class="inner-div">
        <li> Cloud Security [Master Degree - RMIT University]</li>
        <li> Software Engieering [Baschelor and Master - RMIT University]</li>
        <li> Research Method [Honours Degree - RMIT University]</li>
    </div>    
</p></ul>
