---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h2>Current Courses</h2>
<p>
    <div class="inner-div">
        <li> Network and Security [Master Degree - Deakin University]</li>
    
    </div>    
</p>
<h2>Past Courses</h2>
<p>
    <div class="inner-div">
        <li> Cloud Security [Master Degree - RMIT University]</li>
        <li> Software Engieering [Baschelor and Master - RMIT University]</li>
        <li> Research Method [Honours Degree]</li>
    </div>    
</p>
